body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime';
}

p {
    color: #11324D;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #0C4271;
}

.sun {
    width: 5%;
    margin: 1%;
}

.search-btn {
    width: 20%;
    color: white;
    background-color: #0C4271;
    margin-top: 1%;
}

.fas {
    color: #11324D;
}

.search-container {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
}

input[type="text"] {
    width: 20%;
    margin: 0 auto;
    border: 2px solid #11324D
}