body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime';


}

p {
    color: #11324D;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #0C4271;
}

.sun {
    width: 5%;
    margin: 1%;
}

.search-btn {
    background: none;
    border: none;
}
.fas{
    color: #11324D;
}