{% extends 'base.html' %}

{% load static %}

{% block content %}

<div>
    <img class="sun"
        src="https://cdn-icons.flaticon.com/png/512/2222/premium/2222367.png?token=exp=1644418615~hmac=3bbc08e9538011bae4f924ac87d467b5"
        alt="">
</div>

<div class="text-center mt-3">
    <h1>Weather Forecast</h1>
    <p>Get to know the weather forecast across the globe.</p>
</div>




<div class="search-container">
    <p>Search for a city or town</p>
    <form method="get">

        <input type="text" name="city" id="city" placeholder="Search"> <br>
        <button class="btn btn-primary search-btn" type="submit">Search</button>

    </form>
</div>
{% if result %}
<div class="container text-center">
    <p>{{result.region}}</p>
    <p>{{result.temp_now}}</p>
    <p>{{result.dayhour}}</p>
</div>
{% endif %}




{% endblock %}